.alphabetCheckbox {
  display: flex;
  align-items: center;
  margin: 10px auto;
}

.alphabetCheckbox__label {
  font-size: 1.25rem;
  font-weight: bold;
  margin: 0 0.2em;
}

.alphabetCheckbox__input {
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.065em);
  display: grid;
  place-content: center;
}

.alphabetCheckbox__input::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em #174ea6;
  transform-origin: bottom-left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

.alphabetCheckbox__input:checked::before {
  transform: scale(1);
}

.alphabetCheckbox__input:checked {
  outline: max(2px, 0.15em) solid #174ea6;
  border: 0.15em solid #174ea6;
}
